body{
  position: relative;
  font-size: 1.1rem;
}

header{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.3), inset 0 -1px 0 rgba(0,0,0,.1);
}

footer{
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}

h2, h3 {
  font-weight: 300;
}

#about{
  position: relative;
  padding-top: 100px;
}

.logo{
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

.bg-footer{
  background-color: #2b2d30;
}

.footer-text{
  color: white;
  font-size: 1.1rem;
  padding: 25px 0px;
}

.list-inline-item i{
  font-size: 2rem;
}

.projects {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
